@import "tailwindcss" theme(static);
@source "../views/";
@source "../../app/";

@theme {
  --color-primary: #F47321;
  --color-secondary: #fffff1;
  --color-third: #f68d4d;
  --font-hanna: "bm-hanna", "sans-serif";

}
@font-face {
  font-family: bm-hanna;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url('@fonts/bm-hanna.ttf') format("truetype");
}
