@import "tailwindcss" theme(static);
@import "./navbar/_navbar.css";
@import "./sections/_header.css";

@source "../views/";
@source "../../app/";




@theme {
  --color-primary: #F47321;
  --color-secondary: #fffff1;
  --color-third: #f68d4d;
  --font-hanna: "bm-hanna";
/* inset https://tailwindcss.com/docs/top-right-bottom-left*/
  --spacing-submenu: 4rem;
}
@font-face {
  font-family: bm-hanna;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url('@fonts/bm-hanna.ttf') format("truetype");
}

a {
@apply no-underline ;
}
