@import "tailwindcss" theme(static);
@source "../views/";
@source "../../app/";

@theme {
  --color-primary: #F47321;
  --color-secondary: #fffff1;
  --color-third: #2c2c29;
  --font-display: "rmpFont", "sans-serif";

}
@font-face {
  font-family: rmpFont;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url('@fonts/bm-hanna.ttf') format("truetype");
}
